<mat-toolbar class="title" color="accent">
  <div>
    <mat-icon>currency_exchange</mat-icon>
    <span>{{data.info.name}}</span>
  </div>
  <div>
    <button mat-icon-button (click)="addMinisterialOrdinaceDestination()" [disabled]="!data.role.includes('portaria criar')">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-dialog-content class="box">
  <table mat-table [dataSource]="dataSource" style="width: 100%;">

    <ng-container matColumnDef="county">
      <th mat-header-cell *matHeaderCellDef style="width: 60%;"> Município </th>
      <td mat-cell *matCellDef="let element"> {{element.county.name}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef style="width: 30%; text-align: center;"> Valor </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button mat-raised-button color="primary" style="width: 100%;" (click)="valueMinisterialOrdinaceDestination(element)" [disabled]="!data.role.includes('portaria atualizar')">
          {{element.value | currency: 'R$'}}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center;"> Ações </th>
      <td mat-cell *matCellDef="let element">
        <div class="actions">
          <button mat-icon-button color="warn" matTooltip="Deletar" (click)="removeMinisterialOrdinaceDestination(element)" [disabled]="!data.role.includes('portaria deletar')">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
  Total da portaria:&nbsp; <strong>{{data.info.value | currency: 'R$'}}</strong>
  <mat-icon style="margin: 0 30px;">swap_horiz</mat-icon>
  Total Alocado:&nbsp; <strong>{{valueAllocated | currency: 'R$'}}</strong>
  <mat-icon style="margin: 0 30px;">swap_horiz</mat-icon>
  Saldo:&nbsp; <strong style="color: red;">{{((+data.info.value)-(+valueAllocated)) | currency: 'R$'}}</strong>
</mat-dialog-actions>
