<mat-toolbar class="title" color="accent">
  <div>
    <mat-icon>password</mat-icon>
    <span>Alterar senha</span>
  </div>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <form [formGroup]="formulario" class="box" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="digite a senha" formControlName="password">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Confirmar Senha</mat-label>
        <input matInput type="password" placeholder="digite a senha novamente" formControlName="cpassword">
      </mat-form-field>
    </div>

    <button mat-raised-button class="btn" color="primary" type="submit" [disabled]="formulario.invalid">ALTERAR SENHA</button>
  </form>
</mat-dialog-content>
