<div class="box mat-elevation-z8">
  <mat-form-field appearance="outline">
    <mat-label>Nova senha</mat-label>
    <input matInput placeholder="digite sua senha">
    <mat-icon matSuffix>password</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirmar nova senha</mat-label>
    <input matInput placeholder="digite sua senha novamente">
    <mat-icon matSuffix>password</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <button mat-raised-button color="primary">REDEFINIR SENHA</button>
</div>
