<mat-toolbar class="title" color="accent">
  @if (data.info.is_valid) {
    <div>
      <mat-icon>cancel</mat-icon>
      <span>Invalidar programação</span>
    </div>
  } @else {
    <div>
      <mat-icon>check_circle</mat-icon>
      <span>Validar programação</span>
    </div>
  }
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div class="box">
  @if (data.info.is_valid) {
    <h1>Deseja invalidar a programação {{data.info.programing_name}}?</h1>
    <button mat-raised-button class="btn" color="warn" (click)="onSubmit()">INVALIDAR PROGRAMAÇÃO</button>
  } @else {
    <h1>Deseja validar a programação {{data.info.programing_name}}?</h1>
    <button mat-raised-button class="btn" color="warn" (click)="onSubmit()">VALIDAR PROGRAMAÇÃO</button>
  }
</div>
