<mat-toolbar color="primary" class="mat-elevation-z8">
  <section>
    <div class="main-toolbar">
      <button mat-icon-button>
        <mat-icon>pets</mat-icon>
      </button>
      <div>
        @if (searchBar) {
          <mat-form-field appearance="outline" color="accent">
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        } @else {
          <h1>{{title}}</h1>
        }
      </div>
      <div class="menu">
        <button mat-icon-button class="btn-main" (click)="searchBar = !searchBar">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="btn-main" [matMenuTriggerFor]="fullMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #fullMenu="matMenu" xPosition="before" class="fullmenu">
          <div class="menu-content">
            <div style="border-right: 1px solid rgb(200,200,200);" class="menu-column">
              <h2>Sistema</h2>
              <button mat-menu-item [routerLink]="['/usuarios']"
                [disabled]="!(route.snapshot.data['role'].includes('usuario criar') || route.snapshot.data['role'].includes('usuario ver') || route.snapshot.data['role'].includes('usuario atualizar') || route.snapshot.data['role'].includes('usuario deletar'))">
                <mat-icon>groups</mat-icon>
                <span>Usuários</span>
              </button>
              <button mat-menu-item [routerLink]="['/regras']"
                [disabled]="!(route.snapshot.data['role'].includes('regra criar') || route.snapshot.data['role'].includes('regra ver') || route.snapshot.data['role'].includes('regra atualizar') || route.snapshot.data['role'].includes('regra deletar'))">
                <mat-icon>rule</mat-icon>
                <span>Regras e permissões</span>
              </button>
              <button mat-menu-item [routerLink]="['/municipios']"
                [disabled]="!(route.snapshot.data['role'].includes('municipio criar') || route.snapshot.data['role'].includes('municipio ver') || route.snapshot.data['role'].includes('municipio atualizar') || route.snapshot.data['role'].includes('municipio deletar'))">
                <mat-icon>place</mat-icon>
                <span>Municípios</span>
              </button>
              <button mat-menu-item [routerLink]="['/anos/de/exercicio']"
                [disabled]="!(route.snapshot.data['role'].includes('ano criar') || route.snapshot.data['role'].includes('ano ver') || route.snapshot.data['role'].includes('ano atualizar') || route.snapshot.data['role'].includes('ano deletar') || route.snapshot.data['role'].includes('competencia criar') || route.snapshot.data['role'].includes('competencia ver') || route.snapshot.data['role'].includes('competencia atualizar') || route.snapshot.data['role'].includes('competencia deletar'))">
                <mat-icon>calendar_month</mat-icon>
                <span>Anos de exercício e competências</span>
              </button>
            </div>
            <div style="border-right: 1px solid rgb(200,200,200);" class="menu-column">
              <h2>Procedimentos</h2>
              <button mat-menu-item disabled>
                <mat-icon>format_list_numbered</mat-icon>
                <span>Grupos, subgrupos e forma de organização</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>attach_money</mat-icon>
                <span>Financiamento</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>format_list_bulleted</mat-icon>
                <span>Procedimentos</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>checklist</mat-icon>
                <span>Programação de procedimentos</span>
              </button>
            </div>
            <div class="menu-column">
              <h2>Pactuação</h2>
              <button mat-menu-item disabled>
                <mat-icon>request_page</mat-icon>
                <span>Portaria ministerial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>price_check</mat-icon>
                <span>Incentivos</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>receipt_long</mat-icon>
                <span>Proposição operativa</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>history_edu</mat-icon>
                <span>Resoluções</span>
              </button>
            </div>
          </div>
        </mat-menu>
        <button mat-fab extended color="accent" class="btn-main" (click)="drawer.toggle() && readNotifications()">
          <mat-icon [matBadge]="notifications" matBadgeColor="warn" aria-hidden="false">person_outline</mat-icon>
          {{user.name}}
        </button>
      </div>
    </div>
    <div class="menu-toolbar">
      @if (disabled) {
        <button mat-fab extended color="accent" (click)="addFavorite(user.id)">
          <mat-icon>favorite_border</mat-icon>
          Adicionar aos favoritos
        </button>
      } @else {
        <button mat-fab extended color="accent" disabled>
          <mat-icon>favorite_border</mat-icon>
          Adicionar aos favoritos
        </button>
      }
      @for (item of links; track item.id) {
        <button mat-button [routerLink]="[item.link.url]">
          <mat-icon>{{item.link.icon}}</mat-icon>
          {{item.link.name}}
        </button>
      }
    </div>
  </section>
</mat-toolbar>
