<div class="box mat-elevation-z4">
  <mat-toolbar color="accent">
    <mat-icon style="margin-right: 20px;">event_note</mat-icon>
    <span>Competências</span>
  </mat-toolbar>
  @for (item of competencies; track item.id; let last = $last;) {
    <div class="item">
      <div>
        <mat-icon>chevron_right</mat-icon>
        <span>{{item.competence}}</span>
      </div>
      <div>
        @if (item.is_valid) {
          <button mat-icon-button color="primary" matTooltip="Invalidar" (click)="validateCompetence(item)" [disabled]="!route.snapshot.data['role'].includes('competencia atualizar')">
            <mat-icon>event_available</mat-icon>
          </button>
        } @else {
          <button mat-icon-button color="warn" matTooltip="Validar" (click)="validateCompetence(item)" [disabled]="!route.snapshot.data['role'].includes('competencia atualizar')">
            <mat-icon>event_busy</mat-icon>
          </button>
        }
        <button mat-icon-button color="warn" matTooltip="Deletar" (click)="deleteCompetence(item)" [disabled]="!route.snapshot.data['role'].includes('competencia deletar')">
          <mat-icon aria-hidden="false">delete</mat-icon>
        </button>
      </div>
    </div>
    @if (!last) {
      <mat-divider></mat-divider>
    }
  }
</div>
