<mat-toolbar class="title" color="accent">
  <div>
    <mat-icon>playlist_add</mat-icon>
    <span>Adicionar regra</span>
  </div>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form class="example-form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div style="display: flex; flex-direction: column; width: 90%;">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput type="text" placeholder="nome da regra" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Permissões</mat-label>
      <mat-chip-grid #chipGrid aria-label="Fruit selection">
        @for (item of permissions; track item.id) {
          <mat-chip-row (removed)="remove(item)">
            {{item.name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>
      <input placeholder="buscar permissões" #permissionInput [formControl]="permissionCtrl"
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"/>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        @for (item of filteredPermissions | async | slice : 0 : 4; track item.id) {
          <mat-option [value]="item">{{item.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" class="btn" [disabled]="formulario.invalid">ADICIONAR REGRA</button>
</form>
