<section>
  <mat-toolbar color="primary" class="header-toolbar"></mat-toolbar>
  <div class="content">
    <div style="display: flex; width: 80%; justify-content: space-between; align-items: center;">
      @if (user.image) {
        <img [src]="user.image" class="picture mat-elevation-z8">
      } @else {
        <img src="assets/img/emptyprofile.png" class="picture mat-elevation-z8">
      }
      <div class="title">
        <h2>{{user.name}}</h2>
        <h4>{{user.email}}</h4>
      </div>
    </div>
    <div class="actions">
      <button mat-icon-button color="primary" [routerLink]="['/app/configuracoes']" (click)="drawer.toggle()">
        <mat-icon>tune</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="sharedService.logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <app-main-menu [drawer]="drawer"></app-main-menu>
  </div>
  <mat-toolbar class="footer-toolbar">
    <span>Versão: 1.0.0</span>
  </mat-toolbar>
</section>
