<section>
  <mat-toolbar color="primary" class="header-toolbar">

  </mat-toolbar>
  <div class="content">
    <img src="assets/img/emptyprofile.png" class="picture mat-elevation-z8">
    <div class="title">
      <h3>Jorge Monteiro</h3>
      <h5>Desenvolvedor</h5>
    </div>
    <mat-divider></mat-divider>
    <div class="actions">
      <button mat-icon-button color="primary">
        <mat-icon>tune</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <mat-list>
      <div mat-subheader class="section-title">
        <mat-icon color="warn">notifications</mat-icon>
        Notificações
      </div>
      <mat-list-item>
        <mat-icon matListItemIcon>notifications_none</mat-icon>
        <div matListItemTitle>Notificação 01</div>
        <div matListItemLine>Teste</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>notifications_none</mat-icon>
        <div matListItemTitle>Notificação 02</div>
        <div matListItemLine>Teste</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>notifications_none</mat-icon>
        <div matListItemTitle>Notificação 03</div>
        <div matListItemLine>Teste</div>
      </mat-list-item>
    </mat-list>
    <div class="section-footer">
      <button mat-button>Ver todas as notificações</button>
    </div>
    <mat-divider></mat-divider>
    <mat-list>
      <div mat-subheader class="section-title">
        <mat-icon color="warn">chat</mat-icon>
        Mensagens
      </div>
      <mat-list-item>
        <img matListItemIcon src="assets/img/emptyprofile.png">
        <div matListItemTitle>Mensagem 01</div>
        <div matListItemLine>Teste</div>
      </mat-list-item>
      <mat-list-item>
        <img matListItemIcon src="assets/img/emptyprofile.png">
        <div matListItemTitle>Mensagem 02</div>
        <div matListItemLine>Teste</div>
      </mat-list-item>
    </mat-list>
    <div class="section-footer">
      <button mat-button>Ver todas as mensagens</button>
    </div>
  </div>
  <mat-toolbar class="footer-toolbar">
    <span>Versão: 1.0.0</span>
  </mat-toolbar>
</section>
