<mat-toolbar class="title" color="accent">
  <div>
    <mat-icon>rule</mat-icon>
    <span>Regras e permissões ({{data.info.name}})</span>
  </div>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <div class="box">
    <mat-chip-listbox aria-label="Fish selection">
      @for (item of roles; track item.id) {
        <mat-chip-option color="primary" selected [selectable]="false">{{item.name}}</mat-chip-option>
      } @empty {
        <h3>Nenhuma regra atribuída ao usuário.</h3>
      }
      @for (item of permissions; track item.id) {
        <mat-chip-option color="accent" selected [selectable]="false">{{item.name}}</mat-chip-option>
      } @empty {
        <h3>Nenhuma permissão atribuída ao usuário.</h3>
      }
    </mat-chip-listbox>
  </div>
</mat-dialog-content>
