<mat-toolbar class="title" color="accent">
  <div>
    <mat-icon>file_upload</mat-icon>
    <span>Importar procedimentos</span>
  </div>
  <button mat-icon-button mat-dialog-close [disabled]="btnAttach">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div class="box">
  <div>
    <input type="file" class="file-input" (change)="onFileChange($event)" #fileUpload accept=".zip">
    <button mat-fab extended color="primary" (click)="fileUpload.click()" [disabled]="btnAttach">
      <mat-icon>attach_file</mat-icon>
      Anexar
    </button>
    <h3 style="margin: auto 0;">{{(fileName.length>40)? (fileName | slice:0:40)+'...':(fileName)}}</h3>
  </div>
  <button mat-raised-button class="btn" color="primary" (click)="disableProc(); onSubmit()" [disabled]="isAttach">IMPORTAR PROCEDIMENTOS</button>
</div>
<div>
  <mat-progress-bar [mode]="progressType" value="0"></mat-progress-bar>
</div>
