<mat-toolbar class="title" color="accent">
  @if (data.info.is_valid) {
    <div>
      <mat-icon>event_busy</mat-icon>
      <span>Invalidar ano de exercício</span>
    </div>
  } @else {
    <div>
      <mat-icon>event_available</mat-icon>
      <span>Validar ano de exercício</span>
    </div>
  }
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div class="box">
  @if (data.info.is_valid) {
    <h1>Deseja invalidar o ano de exercício {{data.info.exercise_year}}?</h1>
    <button mat-raised-button class="btn" color="warn" (click)="onSubmit()">INVALIDAR ANO DE EXERCÍCIO</button>
  } @else {
    <h1>Deseja validar o ano de exercício {{data.info.exercise_year}}?</h1>
    <button mat-raised-button class="btn" color="warn" (click)="onSubmit()">VALIDAR ANO DE EXERCÍCIO</button>
  }
</div>
